<% provide(:title, "Home") %>
<!-- start of section 1 -->
<div id="section1">
	<header id="header" class="intro-section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<div id="fitin" class="header-content">
						<h1>OpenBook</h1>
						<h4>Share a new story</h4>
						<button id="button-enter" type="button" class="btn btn-outline-secondary btn-large">Entra nel forum</button>
					</div>
				</div>
			</div>
		</div>
	</header>
</div>
<!-- end of section 1 -->

<!-- start of section 2 -->
<div id="section2">
	<section id="features-area">
		<div class="container">
			<div class="row text-center">
			<div id="home-titles"><h1>Caratteristiche</h1></div>
				<div class="col-sm-4">
					<div class="feature-content">
						<img src="index_files/fe-1.jpg" alt="Image">
						<h2 class="feature-content-title">Racconti</h2>
						<p class="feature-content-description"> Apri la mente e lascia 
spazio all'idee, realizza in maniera totalmente gratuita e intuitiva, 
racconti di qualsiasi genere. Questi ultimi potrannno essere scaricati 
nel proprio desktop e stampati.</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="feature-content">
						<img src="index_files/fe-2.jpg" alt="Image">
						<h2 class="feature-content-title">Condividi</h2>
						<p class="feature-content-description">Condividi i tuoi racconti 
con tutto il mondo, gli altri utenti potranno suggerire modifiche e solo
 tu potrai valutarle. Le correzioni saranno evidenziate per renderle 
facilmente visibili.</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="feature-content">
						<img src="index_files/fe-3.jpg" alt="Image">
						<h2 class="feature-content-title">Amici</h2>
						<p class="feature-content-description">Mettiti in contatto con 
altri utenti per uno scambio di idee, stringendo così nuove amicizie 
grazie ad una "lista preferiti" e ad una chat rapida e parallella al 
resto della pagina web.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- end of section 2 -->

<!-- start of section 3 -->
<div id="section3">
		<div id="section3-back" class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
						<h3>Immagina</h3>
						<h4>inizia subito, iscriviti e dai vita ad una nuova storia</h4>
				</div>
			</div>
		</div>
</div>

<div id="section4">
	<section id="">
		<div class="container">
			<div class="row text-center">
				<div id="home-titles"><h1>Come funziona</h1></div>
			</div>
		</div>
	</section>
</div>
