<div class=" col-xs-12 post">
	<div class="userinfo pull-left">
	  <div class="avatar">
		  <%= image_tag comment.user.picture.thumb.url %>
      <p class="text-center"><%= link_to comment.user.name, comment.user %></p>
	  </div>
	</div>
	<div class="posttext pull-left">
	  <p><%= comment.content %></p>
    <div class="hidden-xs pull-left">
			<i class="fa fa-clock-o posted pull-right"><%= time_ago_in_words(comment.created_at) %> ago.</i>
		</div>
	</div>
</div>
