<!-- start of image-->
  <header id="f-section1"></header>
  <!-- end of image-->

  <!-- start of forum-nav-->
  <section id="f-section2" class="col-xs-12 text-center">
	  <div class="hidden-xs hidden-sm hidden-md col-xs-1">
	    <img src="forum_files/img/logo.jpg">
	  </div>
	  <div class="hidden-xs hidden-sm hidden-md col-xs-3 dropdown">
	    <a data-toggle="dropdown" href="#">Aggiunti di recente</a>
	    <b class="caret"></b>
	    <ul class="dropdown-menu" role="menu">
		  <li role="presentation">
		    <a role="menuitem" tabindex="-1" href="#">Aggiunti di recente</a>
		  </li>
		  <li role="presentation">
		    <a role="menuitem" tabindex="-2" href="#">Più visti</a>
		  </li>
		  <li role="presentation">
		    <a role="menuitem" tabindex="-3" href="#">Internazionali</a>
		  </li>
	    </ul>
	  </div>
	  <div class="col-xs-12 col-sm-6 col-lg-4">
	    <%= content_tag :div, class: 'input-group' do %>
		    <input type="text" class="form-control" placeholder="Ricerca racconto..">   
		    <%= content_tag :span, (content_tag :i, nil, class: 'glyphicon glyphicon-search'), class: 'input-group-addon' %>
      <% end %>    
	  </div>
	  <div class="col-xs-8 col-sm-5 col-lg-3 text-center">
      <%= link_to "Scrivi racconto", new_micropost_path, class: 'btn' %>
	  </div>
	  <div class="col-xs-3 col-sm-1 avatar">
	    <img src="forum_files/img/avatar.jpg" alt=""></img>
	  </div>
  </section>
<!-- end of forum-nav -->
			      
		     
