<div class="sidebarblock">
  <h3>
    Categorie
  </h3>
  <div class="blocktxt">
    <ul class="cats">
      <li><a href="#">Autobiografico <span class="badge pull-right">0</span></a></li>
      <li><a href="#">Avventura<span class="badge pull-right">0</span></a></li>
      <li><a href="#">Breve<span class="badge pull-right">0</span></a></li>
      <li><a href="#">Dialettale<span class="badge pull-right">0</span></a></li>
      <li><a href="#">Epistolare<span class="badge pull-right">0</span></a></li>
      <li><a href="#">Fantascienza<span class="badge pull-right">0</span></a></li>
      <li><a href="#">Fantasy<span class="badge pull-right">0</span></a></li>
      <li><a href="#">Filosofico<span class="badge pull-right">0</span></a></li>
      <li><a href="#">Formazione<span class="badge pull-right">0</span></a></li>
      <li><a href="#">Giallo<span class="badge pull-right">0</span></a></li>
      <li><a href="#">Horror<span class="badge pull-right">0</span></a></li>
      <li><a href="#">Nero<span class="badge pull-right">0</span></a></li>
      <li><a href="#">Novella<span class="badge pull-right">0</span></a></li>
      <li><a href="#">Poesia<span class="badge pull-right">0</span></a></li>
      <li><a href="#">Psicologico<span class="badge pull-right">0</span></a></li>
      <li><a href="#">Rosa<span class="badge pull-right">0</span></a></li>
      <li><a href="#">Sogni<span class="badge pull-right">0</span></a></li>
      <li><a href="#">Thriller<span class="badge pull-right">0</span></a></li>
    </ul>
  </div>
</div>
