<div class="sidebarblock">
  <h3>
    Categorie
  </h3>
  <div class="blocktxt">
    <ul class="cats">
      <% Category.all.each do |category| %>
        <li><a href="#"><%= category.name %> <span class="badge pull-right"> <%= category.microposts.count %> </span></a></li>
      <% end %>
    </ul>
  </div>
</div>
