<% provide(:title, 'Forum') %>
<div id="sfondo" class="container-fluid">
  <div class="container">
    <!-- start of forum -->
    <section id="f-section3" class="col-xs-12">
      <!--start topics -->
      <div id="microposts-list" class="col-xs-12 col-md-8">
        <%= render @microposts %>
      </div>
        <!--end tpoics -->
      <div class="col-md-4">
        <%= link_to "Nuovo", new_micropost_path %>
      </div>
      <!--start lateral boxes -->
      <div class="col-xs-12 col-md-4">
        <%= render 'categories' %>
        <div class="sidebarblock">
          <h3>Amici</h3>
          <div class="blocktxt"></div>
        </div>
        <div class="sidebarblock">
          <h3>Classifica racconti</h3>
          <div class="blocktxt"></div>
        </div>
      </div>
      <!--end lateral boxes -->
      <%= will_paginate %>
    </section>
  </div>
</div>
