<% provide(:title, 'Forum') %>
<div id="sfondo" class="container-fluid">
  <div class="container no-xs-padding">
    <%= render 'shared/forum_navbar' %>
    <!-- start of forum -->
    <section id="f-section3" class="col-xs-12">
      <!--start topics -->
      <div id="microposts-list" class="col-xs-12 col-md-8">
        <% if !@microposts.empty? %>
          <%= render @microposts %>
        <% else %>
          <p>Non ci sono topic da visualizzare</p>
        <% end %>
      </div>
        <!--end topics -->
      <!--start lateral boxes -->
      <div class="col-xs-12 col-md-4">
        <%= render 'categories' %>
        <div class="sidebarblock">
          <h3>Amici</h3>
          <div class="blocktxt"></div>
        </div>
        <div class="sidebarblock">
          <h3>Classifica racconti</h3>
          <div class="blocktxt"></div>
        </div>
      </div>
      <!--end lateral boxes -->
      <%= will_paginate @microposts %>
    </section>
  </div>
</div>
