@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 50px;
  padding-right: 0 !important /* evita lo slittamento del body per colpa dei modals */
}

.btn{
	  font-size: 14px;
    color: white;
    border-radius: 0px;
    padding: 10px 15px;
    background-color: #2F2F2F;
  }
.btn:hover{
    background-color:#f1f1f1;  
  }

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a {
	cursor:pointer;
}

h2 {
	  font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #989c9e
}

/* img {
	width: 100%;
	border: none;
}*/

#logo-principale{
	margin-top:8px;
}

/* forms */

.modal-footer{
  padding-top:15px;
  padding-bottom: 0;
  input[type="submit"]{
    width: 100%;
    background-color:#2F2F2F;
    border:none;
  }
}

.input-group {
  margin-bottom: 10px;
}

 input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.modal-dialog{
  margin: 145px auto;
  @media only screen and (max-width: $screen-xs-max){
	  padding: 30px;
	}
  
}
.modal-content{
  border-radius:0;
}
.modal-body{
  .glyphicon{
    color:#2F2F2F;
  }
  .form-control, .input-group-addon{
    border-radius:0;  
  }
}

.checkbox {
  margin-top:30px!important;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
  margin-top:1px!important;
}



/* navbar layout and colours */
#navbar{
	margin-bottom: 0px;
	border:none;
	background-color: #2F2F2F;
}

.navbar-brand>img {
    display: block;
    margin-top: -5px;
}

#my-navbar{
	border:none;
}

.navbar-inverse .navbar-nav > li > a {
	font-size: 16px;
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

/*Header layout e colori */
#header {
	background-image: url(image_path('index_bg.jpg')); 
	background-position: center center;
	background-size: cover;
	padding:130px 0;
	overflow: hidden;
	
	@media only screen and (max-width: $screen-xs-max){
	  padding: 40px 0;
	}
}

.header-content {
  padding-top: 220px;
  h1 {
    font-size: 66px;
    color: #FFF;
    text-transform: uppercase;
    text-shadow: 2px 2px #000;
  }
  h4 {
    font-size: 30px;
    color: #B1AFAF;
    text-shadow: 1px 1px #000;
  }
  a {
    margin-top:20px;
    font-size: 18px;
    padding: 7px 16px;
  }
}
/* Fine header */


/* Section 2 layout e colori */
#section2{
	margin-top:50px;
  h1 {
    color: #333;
    font-size: 34px;
    margin-bottom: 45px;
    text-shadow: 0px 0px #000;
  }
  h2 {
    padding: 0 20px;
    text-align: center;
    color: #666;
  }
  p {
    padding: 0 20px 35px;
    text-align: center;
    color: #333333;
    margin-top: 15px;
  }
  img {
	  width: 100%;
	  border: none;
  }
}
/*end section2 */

/*start section3*/
#section3{
	background-image: url(image_path('bg-2.jpg')); /*inserisci percorso*/
	background-position: center center;
	background-size: cover;
	padding:130px 0;
	overflow: hidden;
	width:100%;
}
/*end section3*/

#section4{
	margin-top: 30px;
}


/*************** ---- FORUM ----- ****************/


.post {
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 1px 2px #c9cccd;
  margin-bottom: 20px;
  padding-right: 0 !important;

  .wrap-ut {
      width: 83%;
  }

  .userinfo {
    width: 15%;
    padding: 15px 0 14px 10px;
    @media only screen and (max-width: $screen-xs-max){
      padding-left:0;
      .avatar{
          margin:0;
      }
    }
  }

  .posttext {
    width: 85%;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;

    color: #989c9e;
    font-size: 14px;
    font-family: 'Open Sans Light', sans-serif;   
    line-height: 25px;
    @media only screen and (max-width: $screen-xs-max){
      padding-left:15px;
      padding-right:1px;
      padding-bottom:5px;
      font-size:12px;
      h2{
        font-size:17px;
        margin-top:15px;
        margin-bottom:5px;
      }
    }
  }

  .postinfo {
    width: 17%;
    border-left: solid 1px #f1f1f1;
  }

  .comments {
      border-bottom: solid 1px #f1f1f1;
      padding: 10px 0 15px 0;
      text-align: center;
    .commentbg {
        border-radius: 2px;
        display: inline-block;
        padding: 12px 17px;
        color: #ffffff;
        font-size: 14px;
        font-family: 'Open Sans Bold', sans-serif; 
        position: relative;
      .mark {
        width: 11px;
        height: 11px;
        position: absolute;
        bottom: 0;
        left: 43%;
        margin-bottom: -5px;
        transform:rotate(45deg);
        -ms-transform:rotate(45deg); /* IE 9 */
        -webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
      }
    }
  }
  .views {
    border-bottom: solid 1px #f1f1f1;
    color:#9da6aa;
    font-size: 12px;
    font-family: 'Open Sans Regular', sans-serif; 
    text-align: center;
    line-height: 29px;
    span {
      height: 14px;
    }
  }
  .time {
    color:#9da6aa;
    font-size: 12px;
    font-family: 'Open Sans Regular', sans-serif; 
    text-align: center;
    line-height: 29px;
    span {
      height: 14px;
    }
  }
}

.avatar {
  margin-left: 5px;
  img {
    border-radius: 50%;
  }
}

.sidebarblock {
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 1px 2px #c9cccd;
  margin-bottom: 20px;
  h3 {
    color: #363838;
    font-size: 15px;
    font-family: 'Open Sans Bold', sans-serif;
    margin: 0;
    padding: 20px;
	  border-bottom: 1px solid #f1f1f1;
  }
 .blocktxt {
    padding:20px;
    font-size: 14px;
    color: #363838;
    font-family: 'Open Sans Light', sans-serif;
  }
  ul.cats {
    margin: 0;
    padding: 0;
    .badge {
      font-size: 12px;
      color: #ffffff;
      font-family: 'Open Sans Bold', sans-serif;
      margin-top: 7px;
    }
    li {
      list-style: none;
      display: block;
      margin:0;
      padding:0;
      line-height: 30px;
      a {
          font-size: 14px;
          color: #363838;
          font-family: 'Open Sans Light', sans-serif;
          line-height: 30px;
      }
    }
  }
}

.newtopic { 
  input[type=text]{
    border-radius: 2px;
    box-shadow: none;
    border: none;
    background-color: #f1f1f1;
    padding: 20px;
    font-size: 14px;
    color: #989c9e;
    font-family: 'Open Sans Light', sans-serif; 
    margin-bottom: 20px;
    height: 50px;
  }
  select {
    border-radius: 2px;
    box-shadow: none;
    border: solid 1px #cfd5d7;
    background-color: #ffffff;
    font-size: 14px;
    color: #989c9e;
    font-family: 'Open Sans Light', sans-serif; 
    margin-bottom: 20px;
    height: 60px;
  }
    
  select:hover, select:focus, select:active {
    box-shadow: none;
  }

  textarea:hover, textarea:focus, textarea:active {
    box-shadow: none;
  }
}

#sfondo{
	background-color: #d5d5d5;
}

@media only screen and (max-width: $screen-xs-max){
  #sfondo, .no-xs-padding{
    padding: 0;
  }
  
  .post .comments .commentbg{
    padding: 7px 7px;
    font-size: 11px;
    .mark{
      left: 39%;
    }
  }
  
}

/*************** ---- f-section1 ----- ****************/
#f-section1{
	background-image: url(image_path("forum-bg.jpg"));
	padding:140px 0px;
	background-size: cover;
	overflow: hidden;
	@media only screen and (max-width: $screen-xs-max){
	  padding: 100px 0;
	}
}

/*************** ---- f-section2 ----- ****************/
#f-section2{
	background-color:#fbfbfb;
	border-bottom: 1px solid rgb(201, 204, 205);
	padding: 14px 100px 7px 100px;
 
 input,.span{
	  height:40px!important;
  }
  
  .col-xs-3{
    padding-top:7px;
    a{
      font-size:15px;
      color:black;
    }
  }

  .logo-button img{
    width: 45px;
    margin-top: 6px;
  }
  @media only screen and (max-width: $screen-sm-max){
    padding: 14px 50px 7px 50px;
  }
}

@media only screen and (max-width: $screen-xs-max){

  	#f-section2 {
		  padding: 14px 0px;
		  
		  .col-xs-12 {
  		  margin-bottom:10px;
  	  }
  	}

  	#f-section3{
  		padding-left: 0px;
    	padding-right: 0px;
  	}
}

/*************** ---- f-section3 ----- ****************/

#f-section3{
	background-color:#e9e9e9;
	padding-top: 30px;

  .fa-angle-right {
	  margin-left:20px;
  }

  .post .comments {
	  padding-left: 4px!important;
  }

  .sidebarblock h3{
	  border-bottom: 1px solid rgb(201, 204, 205);
  }

  #txt-info-user span{
	  background-color: transparent !important;
  }
  .commentbg, .paginationforum li a, span, .mark, .badge{
	  background-color: #2F2F2F;
  }
}

/***********************  editor **************************/

#f-section3 {
  textarea{
    resize: none;
    border-radius: 0;
    box-shadow: none;
    border: none;
    background-color: #f1f1f1;
    padding: 20px;
    font-size: 14px;
    color: #989c9e;
    font-family: 'Open Sans Light', sans-serif;
    margin-bottom: 20px;
  }
  .newtopic {
    padding-bottom: 10px;
    input[type="file"] {
      display: none;
    }
    textarea{
      height: 150px;    
    }
    #check_file{
      display: none;
      color: #049cdb;
      cursor: pointer;
    }
    label{
      background-color:#47a847;
      color:white!important;
    }
    .pull-right .btn{
      width:80%;    
    }
  }
}

/***********************  profile **************************/

#profile{
  padding:0;
  margin-bottom: 30px;
  
  /* Per far funzionare il cambia immagine */
  .user-pic-container {
    position: relative;
    height: 100px;
    width: 100px;
    margin-top: 25px;
    span {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      max-width: 100px;

      cursor: pointer;
      color: #fff;
      background: RGBA(0, 0, 0, 0.47);
    }
    &:hover span {
      display: inline;
    }
    .hiddenfile{
      width: 0;
      height: 0;
      overflow: hidden;
    }

    @media only screen and (max-width: $screen-xs-max) {
      span{
        display: inline;
      }
    }
  }

  img{
    height: 100px;
    width: 100px;
    border: 3px solid white;
  }

  .col-xs-5 {
    background-color: #d5d5d5;
    height: 150px;
  }

  .pull-left{
    padding-left:15px!important;
    height:150px;
    background-color:white;
  }

  button{
    width:100%;
    border-radius:0;
    border-right: 1px solid white;
  }

  .col-xs-4,.col-xs-7,.col-xs-12,.col-sm-7{
    padding:0;
  }
  
  #txt-info-user{
    padding:0; 
    .col-xs-4{
	    border-right:1px solid rgb(201, 204, 205);
	    padding: 45px 10px;
    }
  }
}


@media only screen and (max-width: $screen-xs-max) {
	#profile h3{
    font-size:20px;  
  }
  #profile h5{
    font-size:13px;  
  }
  #profile .pull-left{
    padding-left:5px!important;  
  }
  
}


/***********************  topic **************************/

#topic .posttext p{
	border-bottom:1px solid rgb(201, 204, 205);
  padding-bottom: 5px;
}

#topic .posttext .glyphicon-time{
  	float:left!important;
}

#comment-area{
  padding-top: 12px;
  padding-left: 40px;

  .avatar{
    padding-right: 25px;
  }
    
  textarea{
	  margin-bottom: 12px;
  }
  
  .glyphicon-send{
    margin-top: 70px; 
    font-size: 20px;
  }
  
  @media only screen and (max-width: $screen-xs-max) {
    padding-left: 10px;
    padding-right: 0px;
    .avatar{
      padding-right: 0px;
    }
    textarea{
      padding:10px 10px 20px 10px;
    }
    .glyphicon-send{
      margin-top: 50px;
    }
  }
}

/***********************  pagination **************************/
/*.paginationforum li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

.paginationforum li a {
    min-width: 24px;
    height: 24px;
    font-size: 14px;
    font-family: 'Open Sans Semibold', sans-serif;
    color: #ffffff;
    background-color: #cfd5d7;
    border-radius: 2px;
    display: block;
    padding: 0 8px;
    line-height: 24px;
}

.forum li a.active,
.paginationforum li a:hover,
.paginationforum li a:focus,
.paginationforum li a:active {
    color: #363838;
    background-color: #ffffff;
    box-shadow: 0 1px 2px #c9cccd;
    font-family: 'Open Sans Bold', sans-serif;
    text-decoration: none;

}

.paginationforum {
    margin: 19px auto;
    padding: 0;
}

.prevnext {
    font-size: 26px;
    color: #cfd5d7;
    margin-top: 11px;
    display: block;
}

.prevnext.last {
    margin-left: 20px;
}*/





